body {
    font-family: Arial, sans-serif;
    background-color: #ccd4dc;
    text-align: center;
    padding: 30px;
}

h1 {
    color: #4525f5;
}

p {
    font-size: 18px;
    color: #1c0202;
}

table {
    width: 70%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #ffffff;
}

th, td {
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #3498db;
    color: white;
}

tr:nth-child(even) {
    background-color: #eaf2f8;
}

tr:hover {
    background-color: #d6eaf8;
}

#output {
    margin-top: 20px;
    font-weight: bold;
    color: #27ae60;
}
img{
    width: 300px;
    height: auto;
    margin-top: 20px;
}
